<ion-view view-title="A propos">
  <ion-content class="padding">
  <p>
  <!--a ui-sref="home">Accueil</a-->
  <p>Le Gabon est aujourd’hui dans une impasse. Notre pays est riche, mais la plupart des citoyens sont exclus de cette richesse. La grande majorité des Gabonais vit dans la peur et le besoin. Les institutions sont au service d’un clan, la justice est aux ordres, les entreprises sont rançonnées et les fonctionnaires ne sont pas payés. Le chômage se généralise et les jeunes ne croient pas en leur avenir. Les infrastructures du pays se détériorent ou sont insuffisantes.</p>

  <p>Quel espoir ? Celui que tout peut, tout doit changer.</p>

  <p>Je crois en mon pays et en son futur. L’élection présidentielle de 2016 approche. Je souhaite non seulement qu’elle ait lieu, mais qu’elle soit surtout l’annonce d’un renouveau. Voilà pourquoi, au sein de la vraie opposition, je souhaite contribuer au débat démocratique de mon pays, avancer des propositions, et parler librement sur l’état du Gabon, les aspirations de son peuple et sa marche vers un État de droit que j’appelle de tous mes vœux.</p>

  <p> Ce chemin vers la liberté et la justice, je vous propose de le faire tous ensemble.</p>

    </p>
  </ion-content>

</ion-view>
