<ion-view view-title="home">
  <ion-content class="padding">
    <p>
      <!--a ui-sref="about">About</a-->
      </p>

      <div class="card">
          <div class="item item-text-wrap">
      <h3>MON PROJET POUR METTRE LE GABON À L’ABRI DE LA PEUR ET DU BESOIN</h3>
          </div>
    </div>

      <p> Depuis sept ans, le Gabon vit une crise sans précédent. Notre pays est mal géré. L’intérêt général est purement et simplement oublié. Les grèves paralysent le pays, l’économie agonise et les investisseurs s’en vont. La richesse du Gabon ne parvient pas à ses enfants. La corruption est endémique et la justice instrumentalisée.</p>

      <p></h3> IL FAUT QUE ÇA CHANGE !</h3></p>

  <p> Dans la perspective de la prochaine élection présidentielle, les multiples leçons que je tire de la pratique politique nationale et internationale ainsi que des nombreuses tournées que j’ai effectuées sur l’ensemble du pays m’amènent à proposer à mes compatriotes, après avoir consulté mes collègues de l’opposition et entendu les doléances de la population, un projet crédible et réalisable, susceptible de mettre les Gabonaises et les Gabonais à l’abri de la peur et du besoin.</p>
      </ion-content>
</ion-view>
