<ion-view view-title="Mes 10 propositions">
  <ion-content class="padding">
  <div class="card">
    <strong> <div class="item item-text-wrap">

        <p>Chers compatriotes, chers patriotes, L’alternance et le changement sont en marche. Rien ne les arrêtera jusqu’à ce que s’ouvre enfin pour notre peuple une nouvelle ère d’espérance, de progrès et de prospérité, de liberté et de responsabilité. Il y va de la dignité du pays et du respect des Gabonais. Je vous invite à marcher ensemble sur ce chemin de la liberté et de la justice.</p>

    <p>Le jour de gloire est arrivé! Une aurore se lève (…) C’est enfin notre essor vers la félicité !</p>
</div></strong>
    </div>



<div id="propositions">
<button class="button button-block button-balanced">Proposition 1 </button>
<button class="button button-block button-energized">Proposition 2 </button>
<button class="button button-block button-positive">Proposition 3</button>
<button class="button button-block button-balanced">Proposition 4</button>
<button class="button button-block button-energized">Proposition 5</button>
<button class="button button-block button-positive">Proposition 6</button>
<button class="button button-block button-balanced">Proposition 7</button>
<button class="button button-block button-energized">Proposition 8</button>
<button class="button button-block button-positive">Proposition 9</button>
<button class="button button-block button-balanced">Proposition 10</button>
</div>
  <ion-list>
          <ion-item></ion-item>
          <ion-item></ion-item>
        </ion-list>
  </ion-content>

</ion-view>
